.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2b0203;
  /* background-color: linear-gradient(to bottom,#ff8a00, #e52e71); */
  border-radius: 0px 0px 5px 5px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #ffffff;
}

.background{
  background-image: url(./pictures/darknetwork.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 30px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
