.app{
  color: #61dafb;
}

.app-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
Renders the heading
*/
.header {
  background-color: #2b0203;
  border-bottom: 2px solid #ffdbdb;
  min-height: 10vh;
  width: 100%; 
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff9f9;
}

.footer{
  background-color: #370304;
  border-top: 4px solid #ffdbdb;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  width: 95%;
  bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: left;
  margin: 0 auto;
  position: absolute;
  color: #fff9f9;
}

/* create break into a new line if using flexbox*/
.flex-break{
  flex-basis: 100%;
  height: 0;
}

/* Make elements line up in a row */
.flex-container-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  align-items: center;
}

/* Make elements line up in a column */
.flex-container-col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
renders the application background
:before is used so that opacity only affects the background
*/
.background:before {
  background-image: url(./pictures/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.4;
}

.small-font{
  color: #ffffff;
  font-size: calc(3px + 1vmin);
  padding: 3px;
  font-family: "OpenSansRegular"; 
}

.heading-font{
  color: #ffffff;
  font-size: calc(12px + 1vmin);
  padding: 15px;
  font-family: "OpenSansRegular";
}

.links-font{
  color: #61dafb;
  font-size: calc(8px + 1vmin);
  padding: 15px;
  font-family: "OpenSansItalic";
  font-style: italic;
  text-decoration-line: underline;
}

.align-left{
  margin-right: auto;
  padding: 15px;
}

/* pushes the element to the right, subsequent elements would follow suit */
.align-right{
  margin-left: auto;
  padding: 15px;
}

.app-link {
  color: #61dafb;
}

