.app{
  color: #61dafb;
}


/* 
create a new line if using flexbox
This specifies that flex-break should take up 100% of the width of the container
The breaking flex item needs to sit on its own row, 
and it is not able to share a row with other items, 
so it has to break into a new line/row
*/
.flex-break{
  flex-basis: 100%;
}

/* Make elements line up in a row using Flexbox */
.flex-container-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  align-items: center;
}

/* Make elements line up in a column using Flexbox */
.flex-container-col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
renders the application background
:before is used so that opacity only affects the background
*/
.background::before {
  background-image: url(../pictures/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  display: flex;
  height: 100vh;
  width: 100%;
  /* margin-top: -110px; */
  position: fixed;
  opacity: 0.4;
}

.small-font{
  color: #ffffff;
  font-size: calc(3px + 1vmin);
  padding: 3px;
  font-family: "OpenSansRegular"; 
}

.heading-font{
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
  font-family: "OpenSansRegular";
  font-weight: bold;
}

.bold-text{
  font-weight: bold;
}

/*
pushes the element to the right, subsequent elements would follow suit
*/
.align-left{
  margin-right: auto;
  padding: 15px;
}

/*
pushes the element to the right, subsequent elements would follow suit
*/
.align-right{
  margin-left: auto;
  padding: 15px;
}

.app-link {
  color: #61dafb;
}
