.article-box1{
    background-color: rgba(44, 4, 5, 0.6);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(44, 4, 5, 0.6);
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    padding: 4px 4px 4px 15px;
    margin: 35px auto 5px auto;
    position: relative;
    /* center content vertically */
    justify-content: center;
    /* center content hortizontally */
    align-items: center;
}


.article-box2{
    background-color: rgba(44, 4, 5, 0.7);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #2c0405;
    width: 95%;
    padding: 4px 4px 4px 15px;
    margin: 35px auto 35px auto;
    position: relative;
    align-items: start;
}


.pre-wrap{
    white-space: pre-wrap;
}


.article-heading{
    color: #ffffff;
    font-size: 1.4rem;
    font-family: "OpenSansRegular";
    font-weight: bold;
  }

.article-font{
    color: #ffffff;
    font-size: 1.2rem;
    font-family: "OpenSansRegular";
}

.links-font{
    color: #61dafb;
    font-size: 1.1rem;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin: 0px 2px 5px 2px;
    font-family: "OpenSansItalic";
    padding: 0px 5px 0px 5px;
    font-style: italic;
}


.project-box{
    background-color: rgba(44, 4, 5, 0.6);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(44, 4, 5, 0.7);
    width: 85%;
    padding: 4px 15px 4px 15px;
    margin: 35px auto 35px auto;
    position: relative;
    align-items: start;
}
/* adds a line above the text box for styling */
.project-box::before {
    border-top: 3px solid #292c38;
    display: block;
    position: relative;
    top: -15px;
    margin: 1px auto 1px auto;
    width: 95%;
    content: '';
}

.line-above-text {
    border-top: 2px solid #afafaf;
    display: block;
    position: inherit;
    width: 99%;
    padding: 5px 0px 0px 0px;
    margin: 2em auto 2em auto;
    content: '';
}

/*
The next 2 function is used to style protrait images
*/
.circular--portrait{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 30%;
}
.circular--portrait img {
    width: 260%;
    height: auto;
    margin: -120px 0px 0px -310px;
}

/*
The next 2 function is used to style rectangular images
*/
.rectangular-picture{
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}
.rectangular-picture img{
    width: 50%;
    height: auto;
}
