.article-box1{
    background-color: rgba(44, 4, 5, 0.8);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #2c0405;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    padding: 4px 4px 4px 15px;
    margin: 110px auto 5px auto;
    position: relative;
    /* center content vertically */
    justify-content: center;
    /* center content hortizontally */
    align-items: start;
}
  

.article-box2{
    background-color: rgba(44, 4, 5, 0.8);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #2c0405;
    width: 95%;
    padding: 4px 4px 4px 15px;
    margin: 35px auto 35px auto;
    position: relative;
    align-items: start;
}

.pre-wrap{
    white-space: pre-wrap;
}


.article-heading{
    color: #ffffff;
    font-size: 1.3rem;
    font-family: "OpenSansRegular";
    font-weight: bold;
  }

.article-font{
    color: #ffffff;
    font-size: 1.1rem;
    font-family: "OpenSansRegular"; 
  }

.links-font{
    color: #61dafb;
    font-size: 1.1rem;
    font-family: "OpenSansItalic";
    padding: 0px 5px 0px 5px;
    font-style: italic;
}
